<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF=8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Invalid User Sign Up</title>
</head>

<body>
    <div>Sign up requirements not met</div>

    <div><a href="/signup">Try again</a></div>
</body>

</html>