<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF=8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Homepage</title>
</head>

<body>
    <div>
        <h1>Conrad's COMP 2537 Web Dev Assignment 2</h1>
    </div>
    <div><a href="/signup">Sign Up</a></div>
    <div><a href="/login">Log In</a></div>
</body>

</html>