<%- include("templates/header") %> 
    <div>
        <p>Hello, <%=username%>!</p>
    </div>
    <a type="button" href="/members" class="btn btn-primary">Members Page</a>
    <a type="button" href="/logout" class="btn btn-primary">Logout</a>
<%- include("templates/footer") %>