<%- include("templates/header") %> 
    <div>
        <p>Hello, <%=username%>!</p>
    </div>
    <div><a href ="/members">Go to Members Area</a></div>
    <div><a href ="/logout">Logout</a></div>
<%- include("templates/footer") %>