<%- include("templates/header") %> 
    <div>
        <h1>Conrad's COMP 2537 Web Dev Assignment 2</h1>
    </div>
    <div><a href="/signup">Sign Up</a></div>
    <div><a href="/login">Log In</a></div>
<%- include("templates/footer") %>