<%- include("templates/header") %> 
    <div>Log in</div>
        <form action='/loggingin' method='post'>
        <input name='email' type='text' placeholder='email'>
        <input name='password' type='password' placeholder='password'>
        <button>Submit</button>
        </form>
        <div>Invalid email/password combination.</div>
    </form>
<%- include("templates/footer") %>