<%- include("templates/header") %> 
    <div>Hello, <%=username%>!</div>
        <br>
        <img src='/pika.gif' alt="Sorry, An image couldn't be loaded!" style='width:250px';>
        <img src='/rainbowcat.gif' alt="Sorry, An image couldn't be loaded!" style='width:250px';>
        <img src='/surprise.gif' alt="Sorry, An image couldn't be loaded!" style='width:250px';>
        <div><a href ="/logout">Logout</a></div>
    </form>
<%- include("templates/footer") %>