<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF=8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Member Page</title>
</head>

<body>
    <div>Hello, <%=username%>!</div>
        <br>
        <img src='/pika.gif' alt="Sorry, An image couldn't be loaded!" style='width:250px';>
        <img src='/rainbowcat.gif' alt="Sorry, An image couldn't be loaded!" style='width:250px';>
        <img src='/surprise.gif' alt="Sorry, An image couldn't be loaded!" style='width:250px';>
        <div><a href ="/logout">Logout</a></div>
    </form>
</body>

</html>