<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF=8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Signup</title>
</head>

<body>
    <div>Create User</div>
    <form action='/createUser' method='post'>
        <input name='name' type='text' placeholder='name'>
        <input name='email' type='text' placeholder='email'>
        <input name='password' type='password' placeholder='password'>
        <button>Submit</button>
    </form>
</body>

</html>